.icon__search,
.icon__video,
.icon__apps,
.icon__notification {
  fill: black;
}
.menu {
  display: flex;
  align-items: center;
  padding: 20px 70px 20px 32px;
}
.menu__button {
  width: 20px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.menu__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #1F2022;
  border-radius: 3px;
}
.menu__logo {
  margin-left: 28px;
}
.menu__search {
  margin-left: 60px;
}
.menu__navigation {
  margin-left: auto;
}
.menu__user {
  margin-left: 45px;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 50%;
  max-width: 830px;
  padding-right: 17px;
  background-color: #ebebebb0;
  border-radius: 22px;
}
.search__input {
  height: 100%;
  padding: 0 23px;
  border: none;
  background-color: transparent;
}
.search__submit {
  width: 19px;
  height: 19px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation__link {
  opacity: 0.24;
}
.navigation__link:not(:last-child) {
  margin-right: 50px;
}
.navigation__link:hover {
  opacity: 1;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
